<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/js/md5.js}"></script>
</head>
<body>
    <div class="form-group has-feedback feedback-left">
        <input type="text" placeholder="输入用户名" class="form-control"
               id="username" name="username"/><span class="help-block"></span>
        <span class="mdi mdi-lock form-control-feedback"
              aria-hidden="true"></span>
    </div>
    <form action="">
        <div class="form-group has-feedback feedback-left">
            <input type="email" placeholder="输入邮箱" class="form-control"
                   id="email" name="email"/><span class="help-block"></span>
            <span class="mdi mdi-lock form-control-feedback"
                  aria-hidden="true"></span>
        </div>
        <input type="submit" onclick="a()" value="发送验证码">
    </form>

</body>

<script>
    var captcha = "";
    function a() {
        var username = $('#username').val();
        var email = document.getElementById("email").value;
        console.log(username)
        console.log(email)
        $.ajax({
            url: "/sendCaptcha/" + email + '/' + username,
            type: "Get",
            success: function (res) {
                console.log(res)
                if (res.code === 100) {
                    captcha = res.captcha;
                    console.log(captcha)
                } else {
                    window.alert("邮箱输入错误");
                }
            }
        })
        //window.alert("czwdsb")
    }
</script>
</html>